<!DOCTYPE HTML>

<html>
	<head>
		<title>VIX FOR T3</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Intro</a></li>
							<li><a href="#one">Cover Letter</a></li>
							<li><a href="#two">Code Projects</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1 class="ui header">  <img src="https://avatars0.githubusercontent.com/u/13055367?v=3&s=460" class="ui circular medium image"></h1>
              <h1> VIX FOR T3</h1>

							<p>A simple rails application cover letter and resume for the T3 support developer role @ <a href="www.shopify.com">Shopify</a><br />
							</p>
						
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>

							<div class="content">
								<div class="inner">
									<h2>T3 Cover Letter: </h2>
                  <h3> Attn. Ms Ruby </h3>
									<p>In my two years at Shopify, I have been striving to learn more and do more. As a guru, I took on the hardest questions from my squad and dug deeper on my spare time. I was curious about the entire platform and due to this, learned quickly the components of our rails app. T2 felt like a natural progression and the past 1.5 years my knowledge has grown tenfold. Shopify talks about how 1 year at Shopify is the equivalent to 10x somewhere else. I really felt this coming onto T2. I joined a very small team at the time as the only female and dove in with both feet. At the time, I was a curious team member who was willing to put in extra hours to find out what was happening, or track down the PR that may have caused the problem. Now, I have built multiple of my own rails applications as well as other languages and truly understand more what goes into building these types of SaaS and web apps which makes troubleshooting them much more clear. </p>

                  <p>As a T2 member I have ample experience using SQL and Splunk. I also have used SQL for personal projects when choosing to use a SQL database. My most recent projects use Postgres for my Active Record database but I also have experience using sqlite3 for development. My github profile holds most of these personal projects that I have worked on to date: https://github.com/vixdug. Some of the projects were coded while attending Lighthouse Labs, a code bootcamp in Vancouver, BC. Outside of this, I also have experience with FED from doing freelance front end design before joining Shopify. I worked with many merchants who were using the Shopify platform and helped them achieve features using Javascript, or crafted their brand with HTML, Liquid and CSS. I am familiar with Dev and have used this to troubleshoot Shopify core problems locally.</p>

                  <p>I started an initiative on T2 called Coffee Talks, the goal is to transfer knowledge from T2 to Guru Support in order to reduce escalations and effort reduction for Gurus in order to solve merchants problems faster. I have taught many sessions on how to use Splunk, SQL tips, and more! It has been an awesome experience for me and feedback shows that Gurus found this very helpful. It has also lead to more people interested in the T2 role on the BC team. This type of cross-team communication is key for bridging the gap and transferring knowledge. I have participated in two hackdays projects while at Shopify. The first was the Learn Code initiative where myself and a team completed prerequiqisites of code challenges and built an admin interface for new code learners using the internal app engine. <a href="https://github.com/vixdug/learncode">https://github.com/vixdug/learncode</a>. The second hackdays I lead a group of new T2 members on how to build a basic e-commerce rails application from the ground up. To learn what goes into Shopify on a smaller scale. More information about that project can be found here:
                    <a href="https://docs.google.com/document/d/1yBXqEsKMcJLk15WcKSJ6I8bBJZQO1f7nlUfrjJmvCnc/edit">Link to project write up.</a> </p>

                  <p>At this point in my Shopify career, I believe that the T3 position is right for me. I want to continue my learning and be able to dig deeper and learn about different aspects of Shopify more in depth.</p>

                  <p>Thanks!
                  </p>

								</div>
							</div>



						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Code Project Portfolio</h2>
							<p>I have experience working with Ruby on Rails applications as well as with Javascript and Node/Express. I have had the opportunity to explore many front end frameworks such as React, Vue.js, and Angular. I have experience working with CSS frameworks such as Bulma, Semantic-ui, Bootstrap and Foundation.</p>
							<div class="features">
								<section>
                  <h3>Forager:</h3>

                  <span class="ui header">  <img src="https://screenshot.click/Forager_2017-03-29_10-11-07.jpg" class="ui  medium image"> </span>
                  <br>

                  <span class="ui header">  <img src="https://screenshot.click/Forager_2017-03-29_10-10-48.jpg" class="ui  medium image"> </span>
                  <a href="https://github.com/vixdug/Forager">https://github.com/vixdug/Forager</a>
									<p>This is a Rails application I built that logs foragable food around the Vancouver area. It integrates Google Maps API for the mapping component and features a community forum, the ability to upload user profile photos using Paperclip, likeable posts, and search functionality.The app uses Postgres for the DB and is deployed on Heroku. The front end framework uses semantic-ui.</p>
								</section>
								<section>

									<h3>Bread and Exile: </h3>

                  <span class="ui header">  <img src="                  https://screenshot.click/Bread__Exile_2017-03-29_10-22-31.jpg
" class="ui  medium image"> </span>
                    <a href="https://github.com/vixdug/bread-and-exile">https://github.com/vixdug/bread-and-exile</a>
									<p>This is a node.js application that uses Express and Knex. It was built as a protoype for a food ordering website.The app is integrated with Stripe API for payment processing and Twillio API which notifies the resturant via phone call about the order, and SMS notifies the customer as a confirmation. </p>
								</section>
								<section>
									<h3>Jungle Rails app: </h3>
                    <a href="https://github.com/vixdug/jungle-rails">https://github.com/vixdug/jungle-rails</a>
									<p>This app was given to me as an existing Rails code base. There were many bugs that I was able to fix and learned the ins and outs of troubleshooting, user authentication, integrating stripe, writing tests and bug fixes.</p>
								</section>
								<section>
									<h3>Chatty App: </h3>
                    <a href="https://github.com/vixdug/Boiler-Plate">https://github.com/vixdug/chatty-app</a>
									<p>This app uses ReactJS and websocks to create a real time chat application similar to Slack. Building this app I gained experience using babel and webpack.</p>
								</section>
								<section>
									<h3>Twitter Clone App: </h3>

                    <a href="https://github.com/vixdug/tweeter">https://github.com/vixdug/tweeter</a>
									<p>The tried and true twitter clone application. The server is built with Express and Node and allows users to request and submit tweets via a JSON end-point. I used Jquery and Ajax for functionality and HTML5 for the structure.</p>
								</section>
								<section>
									<h3>CLI Apps: </h3>
									<p>I have built many command line applications to learn the ins and outs of this. Two that stand out are a quick 2 player Ruby math game that challenges the users to play against eachother. <a href"https://github.com/vixdug/Math-Competition/blob/master/card_game.rb"> found on Github here.</a> The other is a Javascript command line application that downloads a Github users avatar. The code for this <a href"https://github.com/vixdug/github-avatar-downloader/blob/master/download_avatars.js">is found here.</a> </p>
								</section>
							</div>
						</div>
					</section>






	</body>
</html>
